version: '3.1'
services:
  ae_mdw:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "4000:4000" #MDW's default port
      - "4001:4001" #MDW's websocket default port
      - "3113:3113" #Node's default internal API port
      - "3013:3013" #Node's default external API port
      - "3014:3014" #Node's channels default websocket port
    entrypoint: /home/aeternity/node/ae_mdw/entrypoint.sh
    volumes:
      - ${PWD}/mnesia:/home/aeternity/node/local/rel/aeternity/data/mnesia
      - ${PWD}/docker/aeternity.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}:/app
    expose: [3013, 3014, 3113, 4001, 4000]
    environment:
      - AETERNITY_CONFIG=/home/aeternity/aeternity.yaml
