services:
  ae_mdw_testnet:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        RUNNER_IMAGE: "hexpm/elixir:1.17.3-erlang-26.2.5.3-debian-bullseye-20240926-slim"
        USER: root
        MIX_ENV: dev
        PATH_PREFIX: "/v3"
    image: aeternity/ae_mdw_dev${IMAGE_NAME_SUFFIX:-}:latest
    ports:
      - "4000:4000" #MDW's default port
      - "4001:4001" #MDW's websocket default port
      - "3113:3113" #Node's default internal API port
      - "3013:3013" #Node's default external API port
      - "3014:3014" #Node's channels default websocket port
    volumes:
      - ${PWD}/data_testnet/mnesia:/home/aeternity/node/local/rel/aeternity/data/mnesia
      - ${PWD}/data_testnet/mdw.db:/home/aeternity/node/local/rel/aeternity/data/mdw.db
      - ${PWD}/docker/aeternity_testnet.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}/docker/aeternity-dev.yaml:/home/aeternity/aeternity-dev.yaml
      - ${PWD}/docker/accounts.json:/home/aeternity/node/local/rel/aeternity/data/aecore/.genesis/accounts_test.json
      - ${PWD}/priv:/home/aeternity/node/ae_mdw/priv
      - ${PWD}:/app
      - ${PWD}/docker/gitconfig:/root/.gitconfig
    environment:
      - AETERNITY_CONFIG=${AETERNITY_CONFIG:-/home/aeternity/aeternity.yaml}
    networks:
      ae_mdw_net_testnet:
        aliases:
          - mdw.aeternity.localhost
  node_sdk_testnet:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ${PWD}/node_sdk:/app
    entrypoint: ""
    networks:
      - ae_mdw_net_testnet
networks:
  ae_mdw_net_testnet:
    name: ae_mdw_net_testnet
    driver: bridge
