version: '3.1'
services:
  ae_mdw:
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:4000/status"]
      interval: 1m
      timeout: 50s
      retries: 3
    image: aeternity/ae_mdw:latest
    ports:
      - "4000:4000" #MDW's default port
      - "4001:4001" #MDW's websocket default port
      - "3113:3113" #Node's default internal API port
      - "3013:3013" #Node's default external API port
      - "3014:3014" #Node's channels default websocket port
    entrypoint: /home/aeternity/node/ae_mdw/entrypoint.sh
    volumes:
      - ${PWD}/data/mnesia:/home/aeternity/node/local/rel/aeternity/data/mnesia
      - ${PWD}/data/mdw.db:/home/aeternity/node/local/rel/aeternity/data/mdw.db
      - ${HOME}/aeternity.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}/log:/home/aeternity/node/ae_mdw/log
    environment:
      - AETERNITY_CONFIG=/home/aeternity/aeternity.yaml
