version: '3.1'
services:
  ae_mdw:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MIX_ENV: test
        RUNNER_IMAGE: "hexpm/elixir:1.13.4-erlang-23.3.4.18-debian-bullseye-20220801"
        USER: root
    image: ae_mdw_test:latest
    command: ./scripts/test.sh
    working_dir: /app
    volumes:
      - ${PWD}:/app
    environment:
      AETERNITY_CONFIG: /home/aeternity/aeternity.yaml
