services:
  ae_mdw:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MIX_ENV: test
        RUNNER_IMAGE: "hexpm/elixir:1.17.3-erlang-26.2.5.3-debian-bullseye-20240926-slim"
        USER: root
    image: ae_mdw_test:latest
    command: ./scripts/test.sh
    working_dir: /app
    volumes:
      - ${PWD}:/app
    environment:
      AETERNITY_CONFIG: /home/aeternity/.aeternity/aeternity/aeternity.yaml
