//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

p {
  font-size: $base-font-size;
}

a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}


