name: Dockerhub Pipeline

on:
  push:
    branches:
      - master
    tags:
      - v*

env:
  APP: "ae_mdw"

jobs:
  dockerhub:
    name: "Publish to Dockehub"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100

      - name: Extract metadata for docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: aeternity/${{ env.APP }}
          tags: |
            type=raw,value=master,enable={{is_default_branch}}
            type=ref,event=pr
            type=sha,prefix=,enable={{is_default_branch}}
            type=semver,pattern={{version}},enable={{is_default_branch}}
  
      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push docker image
        uses: docker/build-push-action@v3
        if: ${{ steps.meta.outputs.tags }}
        with:
          context: .
          build-args: MIX_ENV=prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
