name: Dockerhub Pipeline

on:
  push:
    branches:
      - master
      - revert-test
    tags:
      - v*

jobs:
  dockerhub:
    name: "Publish to Dockehub"
    runs-on: ubuntu-latest
    # Don't run on forks
    if: github.repository == 'aeternity/ae_mdw'

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Extract metadata for docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: aeternity/ae_mdw
          tags: |
            type=raw,value=${{ steps.extract_branch.outputs.branch }},enable=true
            type=sha,prefix=,enable={{is_default_branch}}
            type=semver,pattern={{version}},enable=true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        # Workaround for a memory allocation layout bug in QEMU,
        # triggered by a kernel update to Linux machine images.
        # Note that this is not an actual fix.
        with:
          image: tonistiigi/binfmt:qemu-v7.0.0-28

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        if: ${{ steps.meta.outputs.tags }}
        with:
          context: .
          build-args: MIX_ENV=prod
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
