name: Dockerhub Pipeline

on:
  push:
    branches:
      - master
    tags:
      - v*

env:
  MIX_ENV: dev

jobs:
  dockerhub:
    name: "Publish to Dockehub"
    runs-on: ubuntu-latest
    # Don't run on forks
    if: github.repository == 'aeternity/ae_mdw'

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100

      - name: Sets MIX_ENV to prod for release
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "MIX_ENV=prod" >> $GITHUB_ENV

      - name: Extract metadata for docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: aeternity/ae_mdw
          tags: |
            type=raw,value=master,enable={{is_default_branch}}
            type=sha,prefix=,enable={{is_default_branch}}
            type=semver,pattern={{version}},enable=true

      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push docker image
        uses: docker/build-push-action@v3
        if: ${{ steps.meta.outputs.tags }}
        with:
          context: .
          build-args: MIX_ENV=${{env.MIX_ENV}}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
