on:
  push:
    branches:
      - master
      - migrate-release-please
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: googleapis/release-please-action@v4
        with:
          token: ${{secrets.BOT_GITHUB_TOKEN}}
          release-type: elixir
          include-component-in-tag: false
          manifest-file: .release-please-manifest.json
