on:
  push:
    branches:
      - master
      - migrate-release-please
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: googleapis/release-please-action@v4
        with:
          token: ${{secrets.BOT_GITHUB_TOKEN}}
          release-type: elixir
          include-component-in-tag: false
          config-file: release-please-config.json
          manifest-file: .rease-please-manifest.json
