on: push
name: Tests suite

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Common tests setup
        uses: ./.github/actions/tests-common

      - name: Setup dependencies
        run: make docker-deps

      - name: Execute tests
        run: make docker-test

  test-coverage:
    name: Test coverage
    runs-on: ubuntu-20.04

    env:
      MIX_ENV: test
      NODEROOT: ./node/local
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Mdw Setup
        uses: ./.github/actions/mdw-setup

      - name: Node Setup
        uses: ./.github/actions/node-setup

      - name: Execute coverage
        run: elixir --sname aeternity@localhost -S mix coveralls

  lint:
    name: Automated linting
    runs-on: ubuntu-20.04

    env:
      NODEROOT: ./node/local

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Mdw Setup
        uses: ./.github/actions/mdw-setup

      - name: Reset master
        if: ${{ github.ref != 'refs/heads/master' }}
        run: |
          git branch -f master origin/master

      - run: mix format --check-formatted && mix credo diff master

  lint-docs:
    name: Swagger v2 auto-generation + linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - run: ./scripts/swagger-docs.py >swagger_v2.yaml

      - run: diff swagger_v2.yaml priv/static/swagger/swagger_v2.yaml

      - run: sed -i 's/[[:space:]]*$//' README.md

      - run: git diff --exit-code README.md

  dialyzer:
    name: Dialyzer
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/cache@v1
        with:
          path: deps
          key: dependencies-${{ hashFiles('mix.lock') }}

      - uses: actions/cache@v1
        with:
          path: _build
          key: build-${{ hashFiles('mix.lock') }}

      - uses: actions/cache@v1
        id: plt-cache
        with:
          path: priv/plts
          key: plts-v13-${{ hashFiles('mix.lock') }}

      - name: Mdw Setup
        uses: ./.github/actions/mdw-setup

      - name: Create PLTs
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt --format github

      - run: mix dialyzer --format github
